html,body{
  max-width: 640px;
  margin: 0 auto;
}
section{
  ul{
    li{
      list-style: none;
      margin-bottom: 5px;
      img{
        width: 100%;
        position: relative;
      }
      p{
        width: 2rem;
        border: 1px solid red;
        text-align: center;
        padding: 5px;
        margin-top: -0.8rem;
        position: absolute;
        color:white;
        margin-left: 10px;
        font-size: 0.3rem;
      }
      div{
        background-color: springgreen;
        padding: 5px 10px;
        position: relative;
        h4{
          overflow: hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
          font-size: 0.3rem;
          width: 4.5rem;
          margin-bottom: 0.1rem;

        }
        img{
          width: 5%;
          display: inline-block;
          vertical-align: middle;
          margin-right: 5px;
          //margin-left: 5px;
        }
        span{
          font-size: 0.25rem;
          vertical-align: middle;
          //margin-left: 5px;
          margin-right: 5px;
        }
        .time{
          margin-left: 2px;
        }
        .teampic{
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          position: absolute;
          right: 10px;
          top: -0.5rem;
        }
      }
    }
  }


}