html,
body {
  max-width: 640px;
  margin: 0 auto;
}
body .demo-class .layui-layer-title {
  background: #E74538;
  color: #fff;
  border: none;
}
body .demo-class .layui-layer-btn a {
  background: #E74538;
}
body .demo-class .layui-layer-btn a {
  border: none;
}
body .demo-class .layui-layer-btn .layui-layer-btn1 {
  background: #999;
}
header {
  margin: 0  auto;
}
header h3 {
  font-size: 0.28rem;
  color: #BC5332;
  text-indent: 1em;
  background-color: #FFEAD2;
  line-height: 0.7rem;
  letter-spacing: 1.5px;
}
header img {
  margin-top: 1px;
  height: 1.0rem;
  width: 100%;
}
section img {
  margin: 0 auto;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-top: -0.6rem;
}
section h3 {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 0.3rem;
  line-height: 0.4rem;
  font-size: 0.35rem;
  color: #333;
}
section .adresspic {
  display: inline ;
  width: 5%;
  height: 5%;
  vertical-align: bottom;
}
section div {
  margin-top: 0.2rem;
  text-align: center;
  font-size: 0.27rem;
  color: #999;
}
section div .team_text {
  font-size: 0.27rem;
}
section div .team_buildtime {
  margin-right: 20px;
  font-size: 0.27rem;
}
section div .team_adress {
  margin-left: 3px;
  font-size: 0.27rem;
}
section ul {
  margin-top: 0.5rem;
}
section ul li {
  list-style: none;
  width: 33%;
  text-align: center;
  box-sizing: border-box;
}
section ul li p:nth-child(1) {
  font-size: 0.43rem;
}
section ul li p:nth-child(2) {
  font-size: 0.31rem;
}
section ul li:nth-child(1) {
  border-right: 1px solid #cacaca;
  cursor: pointer;
}
section ul li:nth-child(2) {
  border-right: 1px solid #cacaca;
}
.content {
  margin-top: 0.2rem;
}
.content h3 {
  font-size: 0.32rem;
  padding-left: 20px;
  color: #333;
}
.content p {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 0.1rem;
  font-size: 0.26rem;
  color: #666;
}
hr {
  border: 1px solid #DBDBDB;
  border-bottom: none;
  margin-top: 1rem;
}
button {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  display: block;
  background-color: #E94E3D;
  color: white;
  line-height: 0.8rem;
  font-size: 0.36rem;
  border-radius: 8px;
}
.links {
  padding: 0.2rem 0.5rem;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
.links img {
  float: left;
  width: 15%;
  vertical-align: middle;
  margin-right: 0.2rem;
}
.links span:nth-child(2) {
  font-size: 0.34rem;
  color: white;
}
.links span:nth-child(4) {
  font-size: 0.26rem;
  color: #666;
  line-height: 0.5rem;
  margin-top: 0.2rem;
}
.links span:nth-child(5) {
  font-size: 0.26rem;
  color: #fff;
  display: block;
  background: url("../images/下载安卓app背景.png") center center no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  padding: 0.15rem;
  position: absolute;
  right: 22%;
  top: 50%;
  transform: translateY(-50%);
  line-height: 0.5rem;
}
.links .close {
  width: 2%;
  position: absolute;
  top: 10%;
  right: 15%;
}
.data {
  padding: 0.5rem;
  line-height: 0.4rem;
  font-size: 0.24rem;
}
.mask {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  display: none;
  padding-top: 0.1rem;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  box-sizing: border-box;
  z-index: 1000;
}
.mask h3 {
  font-size: 0.32rem;
  color: white;
  margin-top: 0.1rem;
}
.mask h3 span {
  font-size: 0.32rem;
  color: white;
}
.mask h4 {
  font-size: 0.28rem;
  color: white;
  margin-top: 0.2rem;
}
.mask p {
  font-size: 0.28rem;
  color: white;
  margin-top: 0.4rem;
  padding-left: 0.33rem;
}
.mask .usertel {
  font-size: 0.26rem;
  margin-left: 0.33rem;
  height: 0.8rem;
  width: 80%;
  margin-top: 0.2rem;
  border-radius: 8px;
  text-indent: 0.5em;
}
.mask .test {
  margin-left: 0.33rem;
  font-size: 0.26rem;
  height: 0.8rem;
  margin-top: 0.2rem;
  border-radius: 8px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  width: 50%;
  text-indent: 0.5em;
}
.mask .btn {
  border-radius: 8px;
  height: 0.8rem;
  font-size: 0.26rem;
  margin-top: 0.2rem;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  width: 30%;
  background-color: #E74538;
  color: white;
}
.mask .sbm {
  margin-top: 0.6rem;
  margin-left: 0.3rem;
  width: 80%;
  margin-bottom: 0.6rem;
}
.mask .jieshi {
  padding-right: 0.3rem;
  line-height: 0.4rem;
}
.mask span img {
  width: 10%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0.25rem;
}
@media screen and (min-width: 640px) {
  .mask {
    width: 33.8%;
  }
}
